

body {
  margin: 0;
  height: 100vh;
  display: flex;
  font-family: Helvetica;
  align-items: center;
  justify-content: center;
}

.site__title {
  font-size: 82px;
  width: 50%;
  font-style: light;
  text-align: center;
  color: #707070;
}

.site__title-text {
  text-transform: capitalize;
}

.jumbotron {
    background: none
}



.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  background-color:transparent !important;
}
